<html>
<head>
  <title>西安公共自行车</title>
  <meta name="description" content="西安公共自行车应用支持按照街道，地标信息及用户当前位置对公共自行车服务网点进行查询，同时支持对服务网点进行收藏，另外，在百度地图的支持下，可以导航用户到感兴趣的服务网点。">
  <link rel="icon" href="/img/favicon.ico">
  <meta name="baidu-site-verification" content="JLGUVRKoI6" />

  <%= css :application, :media => 'screen' %>
  <%= js  :application %>
</head>
<body>
  <div id="content"></div>
</body>
</html>