<html>
<head>
  <title>西安公共自行车</title>
  <link rel="icon" href="/img/favicon.ico">

  <%= css :application, :media => 'screen' %>
  <%= js  :application %>
</head>
<body>
  <div id="content"></div>
</body>
</html>