$icon-size: 20px;
$font-size: 16px;
$panel-height: 40px;
$radius: 20px;
$station-height: 110px;
$dark: #999;
$light: #ddd;

.appContainer {
  width: 900px;
  margin: auto;
  font-size: $icon-size;

  .controlPanel {
    height: $panel-height;

    .searchBox {
      float: left;
      height: 100%;
      width: 55%;
      border: 2px solid $dark;
      border-right: 0px;
      border-top-left-radius: $radius;
      border-bottom-left-radius: $radius;
      padding-left: 16px;
      font-size: $font-size;

      &:focus {
        outline: none;
      }
    }

    .searchButton {
      height: 100%;
      width: 15%;
      float: left;
      border: 2px solid $dark;
      border-top-right-radius: $radius;
      border-bottom-right-radius: $radius;
      font-size: inherit;

      &:focus {
        outline: none;
      }

      &:active {
        background: $light;
        color: $dark;
      }
    }

    .locationButton {
      height: 100%;
      width: 15%;
      border-top-left-radius: $radius;
      border-bottom-left-radius: $radius;
      border: 2px solid $dark;
      border-right: 1px solid $dark;
      font-size: inherit;

      &:focus {
        outline: none;
      }

      &:active {
        background: $light;
        color: $dark;
      }
    }

    .bookmarkButton {
      height: 100%;
      width: 15%;
      border-top-right-radius: $radius;
      border-bottom-right-radius: $radius;
      border: 2px solid $dark;
      border-left: 1px solid $dark;
      font-size: inherit;

      &:focus {
        outline: none;
      }

      &:active {
        background: $light;
        color: $dark;
      }
    }
  }

  .stationList {
    .station {
      border-bottom: 1px solid $light;
      position: relative;
      height: $station-height;

      .info {
        display: inline-block;
        width: 70%;
        height: 100%;
        float: left;
        font-size: $font-size;

        h1, p {
          margin-left: 16px;
          margin-right: 16px;
        }
      }

      .action {
        display: inline-block;
        width: 30%;
        height: 100%;
        float: right;

        .navi {
          display: inline-block;
          vertical-align: middle;
          width: 50%;
          height: 100%;
          font-size: inherit;
          border: 0;
          background: none;

          a {
            display: block;
            padding: 45px 53px;
            color: inherit;
            text-decoration: none;

            &:hover {
              cursor: default;
              background: $light;
            }
          }
        }

        .bookmark {
          display: inline-block;
          width: 50%;
          height: 100%;
          font-size: inherit;
          border: 0;
          background: none;

          &:focus {
            outline: none;
          }

          &:hover {
            background: $light;
          }
        }
      }
    }
  }
}

@media (max-device-width: 640px) and (-webkit-min-device-pixel-ratio: 2) {
  $icon-size: 40px;
  $font-size: 32px;
  $panel-height: 80px;
  $radius: 40px;
  $station-height: 180px;

  .appContainer {
    width: 100%;
    font-size: $icon-size;

    .controlPanel {
      height: $panel-height;

      .searchBox {
        font-size: $font-size;
        border-top-left-radius: $radius;
        border-bottom-left-radius: $radius;
        padding-left: 30px;
      }

      .searchButton {
        border-top-right-radius: $radius;
        border-bottom-right-radius: $radius;
      }

      .locationButton {
        border-top-left-radius: $radius;
        border-bottom-left-radius: $radius;
      }

      .bookmarkButton {
        border-top-right-radius: $radius;
        border-bottom-right-radius: $radius;
      }
    }

    .stationList {
      .station {
        height: $station-height;

        .info {
          font-size: $font-size;

          h1, p {
            margin: 28px 30px;
          }
        }

        .action {
          .navi {
            a {
              padding: 68px 42px;

              &:hover {
                background: none;
              }
            }
          }

          .bookmark {
            &:hover {
              background: none;
            }
          }
        }
      }
    }
  }
}